<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Processo Seletivo Colmeia</title>

  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,400;1,500&display=swap"
    rel="stylesheet">
  <link href="styles.css" rel="stylesheet">
</head>

<body>
  <div id="app">
    <header>
      <h2>Desafio Colmeia</h2>
      <div class="divider"></div>
      <img src="https://aulascolmeia.com.br/img/logo-branca.png" alt="Colmeia" />
    </header>
    <div class="container">
      <h3>Qual o nome do primeiro filme lançado?</h3>
      <p><%- data[0] %></p>

      <h3>Quais espécies vivem menos tempo em média?</h3>
      <p><%- data[1] %></p>

      <h3>Existem quantos personagens de cada gênero?</h3>
      <p><%- data[2] %></p>

      <h3>Qual a altura média dos personagens?</h3>
      <p><%- data[3] %></p>

      <h3>Quais personagens falam a língua Gungan basic?</h3>
      <p><%- data[4] %></p>

      <h3>Quantos personagens vivem no planeta mais populoso?</h3>
      <p><%- data[5] %></p>

    </div>

  </div>

</body>

</html>